html, body {
  font-family: $font-family-primary;
}

.displaynone {
  display: none;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
