@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  background: aquamarine;
}
#user-alert {
  padding: 20px;
  position: fixed;
  left: 22%;
  top: 30%;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  @include border-radius(5px);
  @include font-size(14);
  color: $gray;
  z-index: 100;
  width: 55%;
  max-width: 650px !important;
  i { @include font-size(26); }

  .close {
    color: $gray;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 45px !important;
    width: 45px;
    padding: 0;
    background: white;
    z-index: 200;
    cursor: pointer;
    @include transition(color, 200ms, ease-in-out);
    &:hover {
      color: $secondary;
    }
  }

  .user-message-container {
    display: block;
    width: 100%;
    > .user-alert-icon, .message-text-container {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      &:last-child { padding-left: 0; }
    }
    .user-alert-icon {
      width: 19%;
      i { @include font-size(60); }
    }
    .message-text-container {
      width: 75%;
    }
  }

  .user-alert-footer {
    text-align: right;
    margin-top: 20px;
    .btn-wrapper {
      width: 30%;
      min-width: 125px;
      display: inline-block;
      .btn {
        width: 90%;
        height: 50px;
        border: none;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        @include font-size(10);
        @include border-radius(3px);
        @include transition(background-color, 200ms, ease-in-out);
        @include transition(box-shadow, 200ms, ease-in-out);
        @include transition(-moz-box-shadow, 200ms, ease-in-out);
        @include transition(-webkit-box-shadow, 200ms, ease-in-out);
      }

      #btn-no {
        background-color: $second-dark;
        &:hover {
          background-color: $secondary;
          @include box-shadow($horizontal: 0px, $vertical: 1px, $blur: 3px, $color: $gray-darkest);
        }
        &:focus {
          background-color: $secondary;
          @include box-shadow($horizontal: 0px, $vertical: 1px, $blur: 3px, $color: $gray-darkest);
          &:hover {
            background-color: $secondary;
            @include box-shadow($horizontal: 0px, $vertical: 1px, $blur: 3px, $color: $gray-darkest);
          }
        }
      }

      #btn-yes {
        background-color: $primary-dark;
         &:hover {
          background-color: $primary;
          @include box-shadow($horizontal: 0px, $vertical: 1px, $blur: 3px, $color: $gray-darkest);
        }
        &:focus {
          background-color: $primary;
          @include box-shadow($horizontal: 0px, $vertical: 1px, $blur: 3px, $color: $gray-darkest);
          &:hover {
            background-color: $primary;
            @include box-shadow($horizontal: 0px, $vertical: 1px, $blur: 3px, $color: $gray-darkest);
          }
        }
      }
    }
  }
}

// Different color icons per alert type
.message-info .user-alert-icon i { color:$info; }
.message-success .user-alert-icon i { color:$green-flat; }
.message-confirm .user-alert-icon i { color:$teal; }
.message-warning .user-alert-icon i { color:$warning; }
.message-failure .user-alert-icon i { color:$danger; }

@media(max-width: 440px) {
  #user-alert {
    left: 19%;
  }
  .message-text-container {
    display: block !important;
    margin:auto;
    text-align: center !important;
  }
  .user-alert-icon {
    margin: 10px auto !important;
    width: 100% !important;
  }
  .user-alert-footer {
    text-align: center !important;
  }
  .btn-wrapper {
    width: 45% !important;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi), (max-width: 875px) {
  #user-alert {
    left: 19%;
  }
  .message-text-container {
    display: block !important;
    margin:auto;
    text-align: center !important;
  }
  .user-alert-icon {
    margin: 10px auto !important;
    width: 100% !important;
  }

  .user-alert-footer {
    text-align: center !important;
  }
  .btn-wrapper {
    width: 45% !important;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi), (max-width: 475px) {
  #user-alert .user-message-container .message-text-container {
    width: 90%;
  }
  .user-alert-footer {
    text-align: center !important;
  }
  .btn-wrapper {
    display: block !important;
    width: 100% !important;
    .btn {
      width: 100% !important;
    }
  }
  #btn-yes { margin-bottom: 10px; }
}

@media (max-width: 240px) {
  #user-alert .user-message-container .message-text-container {
    width: 90%;
  }
  .user-alert-footer {
    text-align: center !important;
  }
  .btn-wrapper {
    display: block !important;
    width: 100% !important;
    .btn {
      width: 100% !important;
    }
  }
  #btn-yes { margin-bottom: 10px; }
}
